body, a, a:hover {
    cursor: url(http://cur.cursors-4u.net/holidays/hol-4/hol356.cur), progress;
}

/*NAVBAR*/
.navbar {
    background-color: #d4131f;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Chicle', cursive; 
    width: 100%; 
    height: 18%;
    position:fixed;
}

.right ul {
    display: flex;
    list-style: none;
    overflow: hidden;
}

.right ul li a {
    display: block;
    font-size: 2em;
    padding: 1rem 1rem;
    line-height: 3rem;
    color: white;
    text-decoration: none;
    transition: all 1s;
}

.right ul li a:hover {
    background-color: white;
    border-radius: 50px;
    color: #d4131f;
}

/*SECTION*/

section {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 8rem;
    padding-bottom: -1rem;
    width: 100%;
    height: 40rem;
    background-image: linear-gradient(
    to bottom right,
    #011410 0%,
    #043229 20%,
    #075041 40%,
    #096552 60%,
    #529385 80%
    );
    background-size: 200% 200%; 
    animation: movimiento 5s linear infinite alternate;
}

@keyframes movimiento {
    from {
      background-position: 0 0;
    }
    to{
      background-position: 100% 100%;
    }
}  

.flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card1 {
    width: 17rem;
    height: 17rem;
    padding: 4rem;
    top: 30%;
    left: 27%;
    border-radius: 150px;
    text-align: center;
    color: #d4131f;
    background: rgba( 13, 84, 70, .2);
	-webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(30px);
    z-index: 1;
    position: absolute;
}

.card2 {
    width: 17rem;
    height: 17rem;
    padding: 4rem;
    top:45%;
    left: 67%;
    border-radius: 150px;
    text-align: center;
    color: #d4131f;
    background: rgba( 13, 84, 70, .2);
	-webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(30px);
    z-index: 1;
    position: absolute;
}

/*FOOTER*/
.container {
    display: grid;
    padding-left: 17rem;
    padding-block: 2rem;
    background-color: #d4131f;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    max-width: 250rem;
    height: 20rem;    
}

a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.list-link:hover {
    color: #cca352;
}

.footer__divider {
    margin-block: 1,5rem;
    border: none;
    color: white;
    border-top: 1px solid;
}

.list-bottom {
    display: inline-flex;
    gap: 1rem;
}

