
h1{
  font-family: 'Chicle';
  padding-top: 20%;
  color: white;
  text-align: center;
}


@mixin gri{
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 400px 400px 400px;
  grid-gap: 20px;
}
.grid{
  @include gri;
}
.grid2{
  @include gri;
}
@mixin box{
  width: 400px;
  height: 337px;
  border:3px solid white;
  margin: 80px;
  text-align: center;
  line-height: 30px;
  padding: 80px;
  background-color: #096552;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(92,99,105,.2);
}
.caja{
  @include box;
}
@mixin fotos{
  width: auto px;
  height: 50px;
  text-align: center;
}
.arbol{
  @include fotos;
}
.campanas{
  @include fotos;
}
.reyes{
  @include fotos;
}
.sobre{
  @include fotos;
}
.estrella{
  @include fotos;
}
.nacimiento{
  @include fotos;
}
@mixin textosgri1{
  margin-top: 20px;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: white;
  line-height: 0.6cm;
}
.texto1{
  @include textosgri1;
}
.texto2{
  @include textosgri1;
}
.texto3{
  @include textosgri1;
}
.texto4{
  @include textosgri1;
}
.texto5{
  @include textosgri1;
}
.texto6{
  @include textosgri1;
}
.linea{
  border-top: 4px solid white;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: -300px;
}
@mixin gri2{
  font-family: chicle;
  color: white;
  line-height: 1;
  font-size: 30;
}
.titulos{
  @include gri2;
}
@mixin iconos2{
  width: auto px;
  height: 60px;
  text-align: center;
  border-radius: 10px;
}
.sobre2{
  @include iconos2;
}
.regalo{
  @include iconos2;
}
.despertador{
  @include iconos2;
}
@mixin box2{
  width: 400px;
  height: 140px;
  margin: 80px;
  text-align: center;
  line-height: 65px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba (92,99,105,.2);
  background-color: #096552
}
.caja2{
  @include box2;
}
.salto{
  color:#cca352;
}
@mixin textosgri2{
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  line-height: 0.6cm;
  padding: 65px;
}
.texto7{
  @include textosgri2;
}
.texto8{
  @include textosgri2;
}
.texto9{
  @include textosgri2;
}
.linea2{
  border-top: 4px solid white;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: -650px;
  margin-bottom: 100px;
}

.verde{
  background-color: #0d5446;
}